* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-quase: #FDF3E4;
    --amarelo: #FDAD34;
    --rosaclaro: #FE97B1;
    --laranja: #FC5A39;
    --pink: #FD4880;
    --rosa-escuro: #A82554;
    --palmeira: #335E62ff;
}

.nav-top {
    background-color: var(--branco-quase);
}

.nav-link{
    color: var(--branco-quase) !important;
    font-weight: bold !important;
    background-color: var(--rosa-escuro) !important;
    border-radius: 6px !important;
    text-align: center;
}

.nav-item{
    margin: 0.5rem !important;
}

.btn-buscar{
    color: #fff9f1 !important;
    background-color: var(--laranja) !important;
}

.car-img{
max-height: 50em !important;

}

.divisao{
    background-color: var(--rosa-escuro) !important;
    text-align: center !important;
    color: var(--amarelo) !important;
    padding: 2em !important;

}

.carousel-caption{
    width: auto;
    background-color: #fdad348c !important;
    color: var(--branco-quase) !important;
    border-radius: 1em !important;
}